@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes parlak {
  0% {
    filter: brightness(0.3);
    transform: translateY(20%);
  }

  100% {
    filter: brightness(1);
    transform: translateY(0%);
  }
}
.

:root {
  --bg: #0e0e0e;
  --mx: 50vw;
  --my: 50vh;
  --size: 220px;
  --gap: clamp(0.5rem, 2vw, 2rem);
  /* menü öğeleri arası boşluk */
  --underline: 3px;
  /* alt çizgi kalınlığı */
  --padding-button-y: clamp(8px, 0.8vw, 6px);
  --padding-button-x: clamp(8px, 1vw, 12px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

:root {
  --gap: 2rem;
  /* menü öğeleri arası boşluk */
  --baseline: 1px;
  /* alttaki sabit ince çizgi */
  --underline: 3px;
  /* genişleyen çizgi kalınlığı */
}

/* GENEL */
body {
  margin: 0;
  background: #0e0e0e;
  color: #fff;
  font: 500 16px/1.4 system-ui, sans-serif;
}

:root {
  --gap: 2rem;
  --baseline: 1px;
  --underline: clamp(1px, 0.2vw, 3px);
}

/* GENEL */
body {
  margin: 0;
  background: #0e0e0e;
  color: #fff;
  font: 500 16px/1.4 system-ui, sans-serif;
}

/* HEADER / NAVBAR */
header.navbar {
  width: 100%;
  height: 160px;
  /* önceki 160px → 100px */
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: visible;
  /* taşan menüyü göster */
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 10;
  transition: height 0.5s, box-shadow 0.5s, padding 0.5s;
  box-shadow: none;
  outline: none;
}

.header.navbar.scrolled {
  background-color: #0e0e0e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  height: 80px;
}

/* LOGO */
header .logo-div {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: flex-start;
  /* sola yaslamak için */
  outline: none;
}

header .logo {
  width: 50px;
  /* önceki 80px */
  height: 50px;
  transition: width 0.5s, height 0.5s;
  outline: none;
}

header .logo-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  transition: font-size 0.5s;
  outline: none;
}

/* NAV WRAP ve ALT ÇİZGİ */
.nav-wrap {
  position: relative;
  background: transparent;
}
b .nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  /* küçük ekranlarda alt satıra geçer */
  gap: 2vw;
  /* öğeler arası boşluk responsive */
  justify-content: center;
  /* veya flex-start */
}

/* MENÜ TITLE */
.menu li {
  list-style: none;
  outline: none;
}

.menu a.title {
  position: relative;
  display: inline-block;
  padding: 0.25rem 0;
  text-decoration: none;
  color: #b3b3b3;
  opacity: 0.9;
  font-size: 15px;
  /* sabit font boyutu */
  font-weight: 400;
  transition: color 0.3s, text-shadow 0.3s, opacity 0.3s;
  outline: none;
}

.menu a.title:hover,
.menu a.title:focus-visible {
  opacity: 1;
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* ALT ÇİZGİ */
.menu a.title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(-1 * (var(--underline) / 2));
  height: var(--underline);
  border-radius: 999px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

.menu a.title:hover::after,
.menu a.title:focus-visible::after,
.menu a.title[aria-current="page"]::after {
  transform: scaleX(1);
}

/* CONTACT BUTTON */
.menu .contact-button {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  /* sabit font boyutu */
  font-weight: 400;
  padding: var(--padding-button-y) var(--padding-button-x);
  border: none;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: #b3b3b3;
  cursor: pointer;
  transition: color 0.3s, text-shadow 0.3s, background-color 0.3s;
  outline: none;
}

/* Hover efekti: parlama + alt çizgi */
.menu .contact-button:hover,
.menu .contact-button:focus-visible {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #3c3c3c;
}

/* Hover’da alt çizgi açılır */
.menu .contact-button:hover::after,
.menu .contact-button:focus-visible::after {
  transform: scaleX(1);
}

/* REDUCE MOTION */
@media (prefers-reduced-motion: reduce) {
  .menu a::after {
    transition: none;
  }
}

/* SCREEN */
main.screen {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 65px;
}

main.screen::-webkit-scrollbar {
  display: none;
}

/* HERO */
.first-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 250px;
  outline: none;
}

.main-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 52px;
  margin-top: 60px;
  outline: none;
}

.large-title {
  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -2px;
  color: #ffffff;
  animation: 0.7s ease-out 0s 1 parlak;
  outline: none;
}

.small-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: #c7c7c7;
  margin-top: 20px;
  animation: 0.4s ease-out 0s 1 parlak;
  outline: none;
}

/* TEXT CONTENT */
.text-div .text {
  max-width: 600px;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 20px;
  background: linear-gradient(to right, white 70%, gray 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  transition: background 0.5s ease-out;
  outline: none;
}

/* ROWS */
section.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 300px;
  gap: 200px;
  justify-content: flex-start;
  outline: none;
}

.row.about {
  display: flex;
  align-items: flex-start;
  /* üst hizalı olsun */
  justify-content: space-between;
  /* biri sol, biri sağ */
  gap: 2rem;
  /* aralarına boşluk bırak */
  outline: none;
}

.row.about aside {
  flex-shrink: 0;
  /* ikon sıkışmasın */
  outline: none;
}

.row.about article {
  margin-left: auto;
  /* aside’dan ayrılıp sağa sabitlenir */
  max-width: 600px;
  /* yazının taşmaması için genişlik sınırı */
  outline: none;
}

/* INSTAGRAM */
aside a img.instagram {
  width: 400px;
  transform: rotateZ(-3deg);
  margin-left: 20px;
  border-radius: 20px;
  transition: all 0.5s ease-out;
  outline: none;
}

aside a img.instagram:hover {
  width: 410px;
  box-shadow: 0 0 20px rgb(179, 179, 179, 0.5);
}

/* GEARS */
.gear-canvas-wrapper {
  width: 460px;
  height: 400px;
  max-width: 40vw;
  max-height: 50vh;
  margin-right: 200px;
  position: relative;
  outline: none;
}

.gear-canvas-wrapper canvas,
.gear-canvas-wrapper2 canvas {
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
}

.gear-canvas-wrapper2 {
  width: 700px;
  height: 600px;
  max-width: 40vw;
  max-height: 50vh;
  margin-right: 200px;
  position: relative;
  outline: none;
}

.photo:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  outline: none;
}

footer {
  height: 80px;
  outline: none;
}

.svgObject svg {
  width: 100%;
  /* kapsayıcının genişliğini doldurur */
  height: auto;
  /* oranı korur */
  max-width: 400px;
  /* opsiyonel: en fazla 400px genişlik */
}

.svgObject {
  width: 400px;
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  overflow: hidden;
  z-index: -1;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.meteor-1 {
  position: absolute;
  top: -200px;
  left: 51%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 15s linear infinite;
  animation-delay: 0s;
}

.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: -180px;
  left: 57%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 18s linear infinite;
  animation-delay: 8s;
}

.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: -220px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 16s linear infinite;
  animation-delay: 12s;
}

.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: -190px;
  left: 58%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 20s linear infinite;
  animation-delay: 5s;
}

.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: -150px;
  left: 66%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 22s linear infinite;
  animation-delay: 15s;
}

.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: -170px;
  left: 73%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 19s linear infinite;
  animation-delay: 25s;
}

.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: -210px;
  left: 43%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 17s linear infinite;
  animation-delay: 30s;
}

.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: -240px;
  left: 57%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 21s linear infinite;
  animation-delay: 18s;
}

.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: -230px;
  left: 23%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 23s linear infinite;
  animation-delay: 35s;
}

.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: -250px;
  left: 63%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 16s linear infinite;
  animation-delay: 22s;
}

.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: -160px;
  left: 93%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 24s linear infinite;
  animation-delay: 40s;
}

.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: -140px;
  left: 96%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 20s linear infinite;
  animation-delay: 28s;
}

.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: -130px;
  left: 59%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 18s linear infinite;
  animation-delay: 45s;
}

.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: -180px;
  left: 12%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 25s linear infinite;
  animation-delay: 10s;
}

.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: -200px;
  left: 87%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 19s linear infinite;
  animation-delay: 38s;
}

.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 0;
    margin-top: -500px;
    margin-right: -500px;
  }

  5% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  25% {
    opacity: 0;
    margin-top: 400px;
    margin-left: -400px;
  }

  100% {
    opacity: 0;
    margin-top: 400px;
    margin-left: -800px;
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header.navbar {
    height: 80px;
    padding: 0 20px;
  }

  header .logo {
    width: 50px;
    height: 50px;
  }

  header .logo-title {
    font-size: 1.4rem;
  }

  .menu {
    gap: 0.5rem;
  }

  /* burada .menu .contact-button olmalı */
  .menu a.title,
  .menu .contact-button {
    font-size: 13px;
  }

  aside a img.instagram {
    width: 90%;
  }

  aside a img.instagram:hover {
    width: 94%;
    box-shadow: 0 0 20px rgb(179, 179, 179, 0.5);
  }
}

.row.workflow.structure {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 50px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
}

.card {
  background-color: #111111;
  border-radius: 20px;
  text-align: center;
  flex: 1 1 250px;
  /* başlangıç genişliği */
  aspect-ratio: 391 / 630;
  /* oran sabit */
  max-width: 450px;
  /* orijinal genişliği korumak için */
  padding: 2rem;
  padding-top: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.card h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.card p {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d0d0d0;
}

.lion {
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 2rem;
  display: block;
  /* inline yerine block yap */
  margin-left: auto;
  /* ortalamak için */
  margin-right: auto;
  /* ortalamak için */
}
